* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #333;
    width: 60px;
    height: 100vh;
    position: fixed;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    color: white;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
  
}

.sidebar ul li:hover {
    background-color: #444;
}

.sidebar-label {
    display: none;
    margin-left: 10px;
}

.header {
    background-color: #f1f1f1;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-left: 60px; 
    position: fixed;
    top: 0;
    left: 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    margin-right: 20px;
}

.header-right i {
    margin-right: 15px;
}

.main-content {
    margin-left: 60px;
    padding: 80px 20px; 
}

.toggle-btn {
    color: white;
    padding: 10px;
    cursor: pointer;
}

.sidebar.expanded .sidebar-label {
    display: inline;
}

.sidebar.expanded {
    width: 200px;
}

.sidebar.expanded + .header {
    margin-left: 200px;
}

.sidebar.expanded + .main-content {
    margin-left: 200px;
}

